@media screen and (max-width:800px){
  :root{
    --loading-top:5%;
    --loading-left:30%;
    --bar-width:1.073in;
    --bar-height:0.2867in;
    --cube-max-height:0.4267in;
    --cube-top:1.075in;
    --bottom-height:1.285in;
  }
}
@media screen and (min-width:801px){
  :root{
    --loading-top:15%;
    --loading-left:40%;
    --bar-width:2.576in;
    --bar-height:0.688in;
    --left-max-height-top:1.024in;
    --cube-max-height:1.384in;
    --cube-top:1.72in;
    --bottom-height:2.056in;
    --bottom-top:3.512in;
    --middle-left:0.944in;
    --right-left:1.888in;
  }
}
@media screen and (min-width:1400px){
  :root{
    --loading-top:15%;
    --loading-left:45%;
    --bar-width:3.22in;
    --bar-height:0.86in;
    --cube-max-height:1.73in;
    --left-max-height-top:1.28in;
    --cube-top:2.15in;
    --bottom-height:2.57in;
    --bottom-top:4.39in;
    --middle-left:1.18in;
    --right-left:2.36in;
  }
}
body{
  font-family:Arial;
}
#logo{
  content:url("./5th_Red_Logo-2.png");
  width:30px;
  line-height:30px;
}
h1{
  font-size:55px;
}
#sitelinks{
  border-collapse:collapse;
}
#sitelinks tr{
  border:1px solid red;
  border-radius:20%;
}
#sitelinks tr:hover{
  background-color:lightgray;
}
#sitelinks td,#sitelinks th{
  padding:10px;
/*   border:1px solid black; */
  font-size:18px;
}
#sitelinks td a{
  text-decoration:none;
  color:red;
  font-size:25px;
  font-family:Red-Icons;
}
#tab{
  background-color:#550000;
  padding:10px;
  position:fixed;
  width:100%;
  top:0;
  left:0;
  vertical-align:super;
}
#tab #links{
  position:absolute;
  top:55%;
  left:50px;
  margin-top:-15px;
}
#tab #links a{
  color:white;
  text-decoration:none;
  font-size:20px;
  padding:5px;
  padding:10px;
}
body.fade{
        /*background-color:#222222;*/
        animation:fadeIn 1s linear forwards;
    }
    .bar{
        display:block;
        background-color:#c00000;
        width:var(--bar-width);
        height:var(--bar-height);
        position:absolute;
        left:0;
    }
    /*3.53 inches*/
    .cube{
        display:inline-block;
        background-color:red;
        width:var(--bar-height);
        height:var(--bar-height);
        position:absolute;
        top:var(--cube-top);
        z-index:-1;
    }
    #left{
        left:0;
        animation:leftSize 0.125s linear 2.75s forwards;
    }
    #middle{
        left:var(--middle-left);
    }
    #right{
        left:var(--right-left);
        animation:rightSize 0.125s linear 2.75s forwards;
    }
    #top{
        top:1.72in;
        animation:topBar 0.125s linear 2s forwards;
    }
    #bottom{
        top:var(--bottom-height);
        animation:bottomBar 0.125s linear 2s forwards;
    }
    #loading{
        position:absolute;
        top:var(--loading-top);
        left:var(--loading-left);
    }
    @keyframes topBar{
        from{
            top:1.72in;
        }
        to{
            top:0;
        }
    }
    @keyframes bottomBar{
        from{
            top:250px;
        }
        to{
            top:var(--bottom-top);
        }
    }
    @keyframes leftSize{
        from{
            height:var(--bar-height);
            /*top:2.15in;*/
        }
        to{
            height:var(--cube-max-height);
            top:var(--left-max-height-top);
        }
    }
    @keyframes rightSize{
        from{
            height:var(--bar-height);
        }
        to{
            height:var(--cube-max-height);
            /*top:1.28in;*/
        }
    }
    @keyframes fadeIn{
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
    }
